@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);


body {
    background-image: '../mosaic.jpg';
}

h2 {
    text-align: center;

}

#btnPick {
    margin-top: 200px;
}

#additionalInformation {
    display: none;
    text-align: center;
    margin-top: 50px;
}

#pickedRestaurant {
    display: none;
    text-align: center;
    margin-top: 50px;
}

#realBody {
    width: 50%;
	height: 50%;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.shadow {
        position: absolute;
        top: 20%;
        right: 50%;
        transform: translate(50%,-50%);
        text-transform: uppercase;
        font-family: verdana;
        font-size: 4em;
        font-weight: 700;
        color: #f5f5f5;
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #919191,
            1px 3px 1px #919191,
            1px 4px 1px #919191,
            1px 5px 1px #919191,
            1px 6px 1px #919191,
            1px 7px 1px #919191,
            1px 8px 1px #919191,
            1px 9px 1px #919191,
            1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
  }

  #restaurant {
      font-size: 4ems;
      top: 40%
  }